# Dependencies
node_modules/

# Environment variables
.env
backend/.env

# Upload directory
backend/uploads/*
!backend/uploads/.gitkeep

# Build files
/frontend/build

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db